*{
    box-sizing: border-box;
}
html {
    font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;  
}
p {
    color: black;
    font-size: 16px;
}

            /********** header ************/
header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
header ul {
    list-style: none; /* pour supprimer les puces */
    display: inline-flex;
}
li {
    margin:0 10px 0 10px;
}
header nav a {
    padding: 24px 15px 0 15px;
    font-weight: 600; /* epaisseur de la police*/
}
header nav a:hover, /* survoler*/
header nav a:focus { /*après le clic*/
    padding-top: 22px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
#btnbooki {
    width: auto;
    height: 40px;
    margin: 5px 0 5px 20px;
}

         /************ main ***********/

main {
    padding: 20px;
}
h1{
    font-size: 16px;
}

